# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
Tester-API

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove if vendoring)
vendor/

# Go workspace file
go.work

# Database files
db/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~
